.main__slide__container {
  position: relative;
}

.main__slide__container>.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.main__slide__container>.slides .slide {
  position: relative;
  width: 100%;
  height: 100%;
}